{
    "semi": true,
    "singleQuote": true,
    "printWidth": 80,
    "tabWidth": 2,
    "useTabs": true,
    "bracketSameLine": true,
    "bracketSpacing": true,
    "arrowParens": "always",
    "endOfLine": "lf"
}